<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

    <appSettings>
        <add key="RewriteUrl" value="http://localhost:9000" />
        <add key="TicketVariableName" value="winAuthTicketId"/>
        <add key="TicketLifetime" value="00:01:00.000"/>
    </appSettings>

    <system.web>
        <sessionState mode="Off" />
        <compilation debug="true" targetFramework="4.0" />

        <authentication mode="Windows" />
        <authorization>
            <allow users="*" />
            <deny users="?" />
        </authorization>

        <!--Default for .NET-->
        <!--<httpRuntime requestPathInvalidCharacters="&lt;,&gt;,%,&amp;,:,\,?" />-->
        <!--Overwritten-->
        <httpRuntime requestPathInvalidCharacters="&lt;,&gt;,&amp;,:,\,?" />
    </system.web>

    <system.webServer>
        <security>
            <!--Required for some paths in CPReader cart-->
            <requestFiltering allowDoubleEscaping="true" />
        </security>

        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add name="TicketHandler" verb="GET" path="/tickets" type="TicketHandler" resourceType="Unspecified"/>
            <add name="FullRewrite" verb="*" path="*" type="RewriteHandler" resourceType="Unspecified" />
        </handlers>
    </system.webServer>

    <location path="tickets">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>


</configuration>