body {
padding: 30px;
}

.navbar {
margin-bottom: 30px;
}

.navbar-form-online {
    float: left;
    padding-top: 2%;
    text-align: left;
}

.navbar-form-search{
    float: right;
    margin-top: 1%;
    text-align: right;
}