@(person: util.cprbroker.IPerson)

<div class="row">
    <div class="col-md-6">
        <br/>
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">@Messages("resultat.postaddresse")</h3>
            </div>

            <div class="panel-body">
                @textfield("person.address.danishAddress.streetName", person.address.danishAddress.streetName)
                @textfield("person.address.danishAddress.streetNameForAddressing", person.address.danishAddress.streetNameForAddressing)
                @textfield("person.address.danishAddress.streetBuildingIdentifier", person.address.danishAddress.streetBuildingIdentifier)
                @textfield("person.address.danishAddress.floor", person.address.danishAddress.floor)
                @textfield("person.address.danishAddress.suite", person.address.danishAddress.suite)
                @textfield("person.address.danishAddress.districtSubdivision", person.address.danishAddress.districtSubdivision)
                @textfield("person.address.danishAddress.postCode", person.address.danishAddress.postCode)
                @textfield("person.address.danishAddress.districtName", person.address.danishAddress.districtName)
                @textfield("person.address.danishAddress.mailSublocation", person.address.danishAddress.mailSublocation)
                @textfield("person.address.danishAddress.postOfficeBox", person.address.danishAddress.postOfficeBox)
                @textfield("person.address.danishAddress.countryIdentificationCode", person.address.danishAddress.countryIdentificationCode)

                @textfield("person.address.danishAddress.municipalityCode", person.address.danishAddress.municipalityCode)
                @textfield("person.address.danishAddress.streetCode", person.address.danishAddress.streetCode)
                @textfield("person.address.danishAddress.streetBuildingIdentifier", person.address.danishAddress.streetBuildingIdentifier)
                @textfield("person.address.danishAddress.politiDistrikt", person.address.danishAddress.politiDistrikt)
                @textfield("person.address.danishAddress.postDistrikt", person.address.danishAddress.postDistrikt)
                @textfield("person.address.danishAddress.skoleDistrikt", person.address.danishAddress.skoleDistrikt)
                @textfield("person.address.danishAddress.socialDistrikt", person.address.danishAddress.socialDistrikt)
                @textfield("person.address.danishAddress.sogneDistrikt", person.address.danishAddress.sogneDistrikt)
                @textfield("person.address.danishAddress.valgkredsDistrikt", person.address.danishAddress.valgkredsDistrikt)

                @textfield("person.address.danishAddress.isSpecielVejkode", person.address.danishAddress.isSpecielVejkode)
                @textfield("person.address.danishAddress.isUkendtAdresse", person.address.danishAddress.isUkendtAdresse)

                @textfield("person.address.danishAddress.note", person.address.danishAddress.note)
                @textfield("person.address.danishAddress.danishNote", person.address.danishAddress.danishNote)
            </div>
            <div class="panel-footer"><p class="text-right">@virkning(person.effect, true)</p></div>
        </div>
    </div>

    @* Have to do some silly check here, because a worldAddress ALWAYS has two fields..*@
    @if(person.otherAddress != null &&
            person.otherAddress.worldAddress != null &&
            (person.otherAddress.worldAddress.locationDescriptionText ||
                    person.otherAddress.worldAddress.postalAddressFirstLineText ||
                    person.otherAddress.worldAddress.postalAddressSecondLineText ||
                    person.otherAddress.worldAddress.postalAddressThirdLineText ||
                    person.otherAddress.worldAddress.postalAddressFourthLineText ||
                    person.otherAddress.worldAddress.postalAddressFifthLineText)

    ) {

        @if(person.otherAddress.addressType == util.cprbroker.EAddressType.World) {
            <div class="col-md-6">
                <br/>
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">@Messages("resultat.andenaddresse")</h3>
                    </div>

                    <div class="panel-body">

                        @textfield("person.otherAddress.worldAddress.locationDescriptionText", person.otherAddress.worldAddress.locationDescriptionText)
                        @textfield("person.otherAddress.worldAddress.postalAddressFirstLineText", person.otherAddress.worldAddress.postalAddressFirstLineText)
                        @textfield("person.otherAddress.worldAddress.postalAddressSecondLineText", person.otherAddress.worldAddress.postalAddressSecondLineText)
                        @textfield("person.otherAddress.worldAddress.postalAddressThirdLineText", person.otherAddress.worldAddress.postalAddressThirdLineText)
                        @textfield("person.otherAddress.worldAddress.postalAddressFourthLineText", person.otherAddress.worldAddress.postalAddressFourthLineText)
                        @textfield("person.otherAddress.worldAddress.postalAddressFifthLineText", person.otherAddress.worldAddress.postalAddressFifthLineText)
                        @booleanfield(true, "person.otherAddress.worldAddress.isUkendtAdresseIndikator", person.otherAddress.worldAddress.isUkendtAdresseIndikator)
                        @textfield("person.otherAddress.worldAddress.note", person.otherAddress.worldAddress.note)

                    </div>
                </div>
            </div>
        }
    }
</div>
