@* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 2.0/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License
 * Version 2.0 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS"basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * Contributor(s):
 * Søren Kirkegård
 *
 * The code is currently governed by OS2 - Offentligt digitaliserings-
 * fællesskab / http://www.os2web.dk .
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** *@
 
@(form: play.data.Form[Search.SearchInput], user: String)

@main("CPReader") {
         
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>CPReader</h1>
        <p> En webbaseret grænseflade, som giver brugere adgang til at slå CPR numre op i CPR Brokeren og søge på navn.</p>

		<h2>Om demonstrationen</h2>
		<p>Denne demonstration indeholder ingen ægte CPR-oplysninger, idet vi har brugt testdata, leveret af CSC. I demonstrationen er ikke alle sikkerhedsfaktorer aktiveret. Der er ingen eksterne datakilder tilkoblet til CPR Brokeren.</p>
		
		<h2>Søgevejledning:</h2>
		<p>Der kan søges på cpr-nummer eller navn. Søgninger på navn ikke case sensitive. En søgning på hansen er dermed det samme som en søgning på Hansen. Bemærk at det ikke er mulig at søge på et fornavn uden et efterfølgende efternavn eller et mellemnavn uden at der er et fornavn og et efternavn angivet. Navnesøgninger skal være kommasepareret til at angive, hvad der er fornavn, mellemnavn og efternavn. Søgeresultatet vil være usorteret.</p>
		<h3>Mulige søgemønstre</h3>
		<ul>
		  <li>efternavn</li>
		  <li>fornavn, efternavn</li>
		  <li>fornavn, mellemnavn, efternavn</li>
		  <li>cpr-nummer med eller uden bindestreg</li>
		</ul>
		<h3>Eksempler</h3>
		<ul>
		  <li>Jensen</li>
		  <li>Jens, Jensen</li>
		  <li>Jens, Peter, Jensen</li>
		  <li>0101721337</li>
		  <li>010172-1337</li>
		</ul>
		
		<h2>Om sikkerhed</h2>
		<p>Kommunikation mellem CPR Brokeren, CPReader og browseren sker altid krypteret.</p>
		<p>Adgang til løsningen forudsætter authentikering med LDAP (f.eks. via AD), og adgang styres vha. en gruppe i LDAP. Det er ikke muligt at benytte løsningen uden at være logget på systemet. Kommunikation mellem CPReader og LDAP vil altid foregå krypteret, hvorimod kommunikation mellem CPReader og den lokale browser kan sættes op til at foregå krypteret.</p>
		
		<p>Alle forespørgsler logges på brugerniveau, og der er desuden udviklet en performance log.</p>
		
		<h2>Baggrund</h2>
		<p>Løsningen er udviklet af Søren Kirkegård, bachelor studerende KEA Medie/IT, som igennem et 10 ugers praktikophold hos Magenta, et i gang med at implementere løsningen.</p>
      </div>

}