@(form: play.data.Form[Search.SearchInput], user: String)

@main("CPReader") {
         
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome, @user!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nisl dui, faucibus sed pellentesque at, pharetra quis magna. Integer ornare augue nec nisi sollicitudin, vitae mollis eros tristique. Duis blandit, massa et elementum laoreet, sem nulla porttitor leo, et vehicula velit ligula tristique nisl. Quisque ante enim, elementum sit amet luctus id, commodo ac magna. Sed suscipit massa sit amet ante ultricies, ac aliquet enim interdum. Nunc ut ipsum vulputate nisi tempor cursus quis quis metus. Proin scelerisque eget lorem non congue. Morbi consectetur feugiat velit, sed congue justo eleifend sed. Curabitur ac mauris ac mauris ullamcorper malesuada. Sed at purus vel tortor pulvinar facilisis nec et mi. Nullam quis felis egestas lectus suscipit convallis eget nec odio. Suspendisse ut congue lacus. </p>
      </div>

}