@(persons : List[util.cprbroker.IPerson], results : Int, currentpage : Int, location : String, query: String)

@main("CPR Look-up") {

 <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">There is @results results on the query <strong>@query</strong></h3>
    </div>
 </div>
 
 @if(results > 0) {
	 <ul class="pagination">
	    
	    <li id="prev" @if(currentpage == 1) {class="disabled" }><a href="@location@(currentpage - 1)">&laquo;</a></li>
	    
	    @for(index <- 1 to (Math.ceil(results/10.0).toInt)) {
	        <li @if(index == currentpage) {class="active"}><a href="@location@index">@index <span class="sr-only">(current)</span></a></li>    
	    }
	    @if(results > 10) {
	        <li id="next" @if(currentpage == ((persons.size/10))) {class="disabled" }><a href="@location@(currentpage + 1)">&raquo;</a></li>    
	    }
	 </ul>
}
	    
 <div class="list-group">
     @for(person <- persons) {
     <a href="/show/uuid/@person.uuid/" class="list-group-item">
      @person.registerInformation.cprCitizen.socialSecurityNumber
      @if(person.firstname) { @person.firstname}
      @if(person.middelname) { @person.middelname}
      @if(person.lastname) { @person.lastname}
      @if(person.address != null) {
        <span class="text-muted">
        @if(person.address.danishAddress.postCode) { @person.address.danishAddress.postCode}
        @if(person.address.danishAddress.districtName) { @person.address.danishAddress.districtName}
        </span>    
      }
     </a>
     }
 </div>
 
 @if(results > 0) {
	 <ul class="pagination">
	    
	    <li @if(currentpage == 1) {class="disabled" }><a href="@location@(currentpage - 1)">&laquo;</a></li>
	    
	    @for(index <- 1 to (Math.ceil(results/10.0).toInt)) {
	        <li @if(index == currentpage) {class="active"}><a href="@location@index">@index @if(index == currentpage) {<span class="sr-only">(current)</span>}</a></li>    
	    }
	    @if(results > 10) {
	        <li @if(currentpage == ((persons.size/10))) {class="disabled" }><a href="@location@(currentpage + 1)">&raquo;</a></li>    
	    }
	 </ul>
}
 
  
}