@* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 2.0/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License
 * Version 2.0 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS"basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * Contributor(s):
 * Beemen Beshara
 * Søren Kirkegård
 *
 * The code is currently governed by OS2 - Offentligt digitaliserings-
 * fællesskab / http://www.os2web.dk .
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** *@
 
@(form: play.data.Form[Signon.Login])
@import scala.collection.JavaConversions._

<html>
    <head>
        <title>@Messages("login.pagetitle")</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("stylesheets/signin.css")" rel="stylesheet">
    </head>
    <body>

        <div class="container">

            @helper.form(routes.Signon.authenticate, 'class -> "form-signin") {

                <h2 class="form-signin-heading">@Messages("login.title")</h2>

                    @if(form.error("username") != null) {
                                <div class="form-group has-error">
                                    <input type="text" name="username" class="form-control" placeholder="@Messages("username")"
                                        @if(form("username").value) {
                                            value="@form("username").value"
                                        }
                                    autofocus autocomplete="off">

                                   <span class="help-block">
                                   @Messages(form.error("username").message, form.error("username").key)
                                   </span>
                                  </div>
                            
                } else {
                               <input type="text" name="username" class="form-control" placeholder="@Messages("username")"
                                   @if(form("username").value) {
                                       value="@form("username").value"
                                   }
                               autofocus autocomplete="off">
                           }
			                         
                
                    @if(form.error("password") != null || form.error("error") != null) {
	                    @if(form.error("password") != null) {
	                                <div class="form-group has-error">
	                                   <input type="password" name="password" class="form-control" placeholder="@Messages("password")">
	                                   <span class="help-block">
	                                   @Messages(form.error("password").message, form.error("password").key)
	                                   </span>
	                                  </div>    
	                    } 
	                    @if(form.error("error") != null) {
	                               <div class="form-group has-error">
	                                   <input type="password" name="password" class="form-control" placeholder="@Messages("password")">
	                                   <span class="help-block">
	                                   @Messages(form.error("error").message, form.error("error").key)
	                                   </span>
	                               </div>
	                    }
                    }  else {
                    <input type="password" name="password" class="form-control" placeholder="@Messages("password")">
                    }
                
                <button class="btn btn-lg btn-primary btn-block" type="submit">@Messages("login.submit")</button>

            }
        </div> <!-- /container -->

        @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/main").url)
    </body>
</html>
