@(form: Form[Application.Login])

<html>
    <head>
        <title>@Messages("login.pagetitle")</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))' media='screen'>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("stylesheets/signin.css")" rel="stylesheet">
    </head>
    <body>

        <div class="container">

            @if(form.hasErrors) {
                @if(form.errors.size > 0) {
                    @for((key, value) <- form.errors) {
                        @for(err <- value) {
                            <div class="alert alert-error alert-dismissable">
                                @{
                                    val msg = err.message()
                                    val key = Messages(err.key()).toLowerCase();
                                    Messages(msg, key)                                    
                                }
                            </div>
                        }
                    }
                }
           }

            @if(flash.contains("success")) {
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        @flash.get("success")
                </div>
            }

            @helper.form(routes.Application.authenticate, 'class -> "form-signin") {

                <h2 class="form-signin-heading">@Messages("login.title")</h2>

                <input type="text" name="username" class="form-control" placeholder="@Messages("username")"
                    @if(form.field("username").value()) {
                        value="@form.field("username").value()"
                    }
                autofocus autocomplete="off">
                <input type="password" name="password" class="form-control" placeholder="@Messages("password")">
                <button class="btn btn-lg btn-primary btn-block" type="submit">@Messages("login.submit")</button>

            }
        </div> <!-- /container -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
    </body>
</html>
