@(title: String)(content: Html)

<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))' media='screen'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap-glyphicons.css"))' media='screen'>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <!-- Custom styles for this template -->
    <link href="@routes.Assets.at("stylesheets/navbar.css")" rel="stylesheet">
  </head>
  <body>
  
    <div class="container">
    
        @navbar()
    
        @content
        
    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
    <script type='text/javascript'>

	    $(document).ready(function(){
		   	$('#query').focus();
		});	  	
       // very crude check on where to pass the submition
       $('#quicksearch').submit(function() {

	        //get the content of the input field
	        var query = $('#query').val();
	
	        // a cpr consists of exactly 10 numbers
	        var cpr = /\b[0-9]{10}$/;
	
	        // containsnumbers
	        var containsnumbers = /[0-9]/;
	
	        // no commas 
	        var lastname = /.*$/;
	
	        // one comma 
	        var lastfirstname = /.*,\s*.*$/;
	
	        // two commas
	        var lastmiddlefirstname = /.*,\s*.*,\s.*$/;
	
	        var action = $(this).val() == "people" ? "user" : "content";

	        //TODO test on empty string
	        if(cpr.test(query)) {
	            var action = 'cpr/' + query + '/';
	        } else if(containsnumbers.test(query)) {
	        	alert('contains numbers and is not a cpr!');
	        	return false;
	        } else if (lastmiddlefirstname.test(query) || lastfirstname.test(query)) {
	        	var action = 'name/' + query.replace(/ *?(?=,)/g, '').replace(/, */g, '/') + '/';
	        } else if(lastname.test(query)) {
	        	var action = 'name/' + query + '/';
	        } else {
	            alert('error');
	            return false;
	        }
	        $("#quicksearch").attr("action", "/search/" + action);
        });

    </script>

  </body>
</html>