<!-- Static navbar -->
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">@Messages("nav.title")</a>
  </div>
  
  <div class="navbar-collapse collapse">
    
    <form id="quicksearch" class="navbar-form navbar-left" role="search">
      <div class="form-group">
          <input type="text" class="form-control" id="query" placeholder="@Messages("nav.quicksearch_placeholder")">
      </div>
      <button type="submit" class="btn btn-default">@Messages("nav.quicksearch_submit")</button>
    </form>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="@routes.Application.logout()">@Messages("nav.logout_button")</a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
