@* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 2.0/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License
 * Version 2.0 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS"basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * Contributor(s):
 * Søren Kirkegård
 *
 * The code is currently governed by OS2 - Offentligt digitaliserings-
 * fællesskab / http://www.os2web.dk .
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** *@

@(form: play.data.Form[Search.SearchInput], person: util.cprbroker.IPerson)

@import util.cprbroker.EAddressType;

@main("CPReader") {
      
    <div class="well">           
        <h3>
            <span class="glyphicon glyphicon-user"></span> Person: @person.registerInformation.cprCitizen.socialSecurityNumber
        </h3>
        @if(person.tidspunkt != null) {
        <p class="text-right">
            @if(person.tidspunkt.aktoerRefUuid) { @person.tidspunkt.sourceName }, 
            @if(person.tidspunkt.tidspunkt != null) {<span class="glyphicon glyphicon-time"></span> @person.tidspunkt.tidspunkt}
        </p>
        }
    </div>
    
    <ul class="nav nav-pills nav-justified">
		<li class="active"><a href="#generelt" data-toggle="pill">Generelt</a></li>
		<li><a href="#addresse" data-toggle="pill">Addresse</a></li>
		<li><a href="#relationer" data-toggle="pill">Relationer</a></li>
    </ul>
    
    
    
    <div class="tab-content">
        <div class="tab-pane active" id="generelt">
        
			<div class="row">
	            <div class="col-md-6">
	                <br/>
	                <div class="panel panel-default">
	                
	                    <div class="panel-heading">
	                        <h3 class="panel-title">@Messages("resultat.egenskaber")</h3>
	                    </div>
	                
	                    <div class="panel-body">
							@if(person.firstname) {
							    <dl class="dl-horizontal">
							        <dt>@Messages("person.firstname")</dt>
							        <dd>@person.firstname</dd>
							    </dl>
							}
							@if(person.middelname) {
						          <dl class="dl-horizontal">
						              <dt>@Messages("person.middelname")</dt>
						              <dd>@person.middelname</dd>
						          </dl>
						      }
						      @if(person.lastname) {
						          <dl class="dl-horizontal">
						              <dt>@Messages("person.lastname")</dt>
						              <dd>@person.lastname</dd>
						          </dl>
						      }
						      @if(person.callname) {
						          <dl class="dl-horizontal">
						              <dt>@Messages("person.callname")</dt>
						              <dd>@person.callname</dd>
						          </dl>
						      }
						      
						      @if(person.nameForAddressing) {
						          <dl class="dl-horizontal">
						              <dt>@Messages("person.nameForAddressing")</dt>
						              <dd>@person.nameForAddressing</dd>
						          </dl>
						      }  
							 @if(person.gender) {
							     <dl class="dl-horizontal">
							         <dt>@Messages("person.gender")</dt>
							         <dd>@person.gender</dd>
							     </dl>
							 }
							 @if(person.birthdate != null) {
							     <dl class="dl-horizontal">
							         <dt>@Messages("person.birthdate")</dt>
							         <dd>@person.birthdate</dd>
							     </dl>
							 }
							 @if(person.birthplace) {
							     <dl class="dl-horizontal">
							         <dt>@Messages("person.birthplace")</dt>
							         <dd>@person.nameForAddressing</dd>
							     </dl>
							 }
							 @if(person.birthRegisteringAuthority) {
							     <dl class="dl-horizontal">
							         <dt>@Messages("person.birthRegisteringAuthority")</dt>
							         <dd>@person.birthRegisteringAuthority</dd>
							     </dl>
							 }                       
	                    </div>
	                    <div class="panel-footer"><p class="text-right">@virkning(person.effect, true)</p></div>
	                </div>
	            </div>
	            <div class="col-md-6">
	                <br/>
	                <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Messages("resultat.tilstande")</h3>
                        </div>	                
	                    <div class="panel-body">
	                        @if(person.tilstand != null) {
	                            @if(person.tilstand.civilStatusKode) {
	                                <dl class="dl-horizontal">
	                                    <dt>@Messages("person.tilstand.civilStatusKode")</dt>
	                                    <dd>@person.tilstand.civilStatusKode</dd>
	                                    @if(person.tilstand.civilTilstandsVirkning.fraTidspunkt != null) {
    	                                    <dd>@virkning(person.tilstand.civilTilstandsVirkning, false)</dd>
    	                                }
	                                </dl>
	                            }
	                            @if(person.tilstand.civilStatusKode) {
	                                <dl class="dl-horizontal">
	                                    <dt>@Messages("person.tilstand.livStatusKode")</dt>
	                                    <dd>@person.tilstand.livStatusKode</dd>
                                        @if(person.tilstand.livTilstandsVirkning.fraTidspunkt != null) {	                                    
	                                        <dd>@virkning(person.tilstand.livTilstandsVirkning, false)</dd>
	                                    }
	                                </dl>
	                            }
	                        }
						</div>  
			        </div>
	
					<div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Messages("resultat.registeroplysninger")</h3>
                        </div>					
					    <div class="panel-body">
					        @if(person.registerInformation != null) {
					            @if(person.registerInformation.cprCitizen.socialSecurityNumber) {
					                <dl class="dl-horizontal">
					                    <dt>@Messages("person.registerInformation.cprCitizen.socialSecurityNumber")</dt>
					                    <dd>
					                        @person.registerInformation.cprCitizen.socialSecurityNumber
					
					               @if(person.registerInformation.cprCitizen.isSocialSecurityNumberValid != null) {
				                       @glyphiconokban(person.registerInformation.cprCitizen.isSocialSecurityNumberValid)
					               }				                    
					                    </dd>
					                </dl>
					            }
					            @if(person.registerInformation.cprCitizen.personNationalityCode) {
					                <dl class="dl-horizontal">
					                    <dt>@Messages("person.registerInformation.cprCitizen.personNationalityCode")</dt>
					                    <dd>@person.registerInformation.cprCitizen.personNationalityCode</dd>
					                </dl>
					            }
					            @if(person.registerInformation.cprCitizen.isMemberOfTheChurch != null) {
					                <dl class="dl-horizontal">
					                   <dd>
						                    @Messages("person.registerInformation.cprCitizen.isMemberOfTheChurch")
						                    @glyphiconokban(person.registerInformation.cprCitizen.isMemberOfTheChurch)
					                   </dd> 
					                </dl>
					            }
					            @if(person.registerInformation.cprCitizen.isResearcherProtected != null) {
					                <dl class="dl-horizontal">					                    
					                    <dd>
					                        @Messages("person.registerInformation.cprCitizen.isResearcherProtected")
					                        @glyphiconokban(person.registerInformation.cprCitizen.isResearcherProtected)
					                    </dd>
					                </dl>
					            }
					            @if(person.registerInformation.cprCitizen.isNameAddressProtected != null) {
					                <dl class="dl-horizontal">
					                    <dd>
                                            @Messages("person.registerInformation.cprCitizen.isNameAddressProtected")
                                            @glyphiconokban(person.registerInformation.cprCitizen.isNameAddressProtected)
					                    </dd>
					                </dl>
					            }
					            @if(person.registerInformation.cprCitizen.isPhoneNumberProtected != null) {
					                <dl class="dl-horizontal">
					                    <dd>
					                        @Messages("person.registerInformation.cprCitizen.isPhoneNumberProtected")
					                        @glyphiconokban(person.registerInformation.cprCitizen.isPhoneNumberProtected)
					                    </dd>
					                </dl>
					            }					
					        }
					    </div>
					    <div class="panel-footer"><p class="text-right">@virkning(person.registerInformation.virkning, true)</p></div>  
                    </div>
                </div>
            </div>
        </div>
        
        @if(person.address != null){
            @if(person.address.addressType == EAddressType.Danish) {
		        <div class="tab-pane" id="addresse">
		
		            <div class="row">
		                <div class="col-md-6">
		                    <br/>
		                    <div class="panel panel-default">
		                    
		                        <div class="panel-heading">
		                            <h3 class="panel-title">@Messages("resultat.postaddresse")</h3>
		                        </div>
		                    
		                        <div class="panel-body">
		                            @if(person.address.danishAddress.streetName) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.streetName")</dt>
		                                    <dd>@person.address.danishAddress.streetName</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.streetNameForAddressing) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.streetNameForAddressing")</dt>
		                                    <dd>@person.address.danishAddress.streetNameForAddressing</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.streetBuilding) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.streetBuilding")</dt>
		                                    <dd>@person.address.danishAddress.streetBuilding</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.floor) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.floor")</dt>
		                                    <dd>@person.address.danishAddress.floor</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.suite) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.suite")</dt>
		                                    <dd>@person.address.danishAddress.suite</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.districtSubdivision) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.districtSubdivision")</dt>
		                                    <dd>@person.address.danishAddress.districtSubdivision</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.postCode) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.postCode")</dt>
		                                    <dd>@person.address.danishAddress.postCode</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.districtName) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.districtName")</dt>
		                                    <dd>@person.address.danishAddress.districtName</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.mailSublocation) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.mailSublocation")</dt>
		                                    <dd>@person.address.danishAddress.mailSublocation</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.postOfficeBox) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.postOfficeBox")</dt>
		                                    <dd>@person.address.danishAddress.postOfficeBox</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.countryIdentificationCode) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.countryIdentificationCode")</dt>
		                                    <dd>@person.address.danishAddress.countryIdentificationCode</dd>
		                                </dl>
		                            }
		                            
		                            @if(person.address.danishAddress.municipalityCode) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.municipalityCode")</dt>
		                                    <dd>@person.address.danishAddress.municipalityCode</dd>
		                                </dl>
		                            }                                                                                  
		                            @if(person.address.danishAddress.streetCode) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.streetCode")</dt>
		                                    <dd>@person.address.danishAddress.streetCode</dd>
		                                </dl>
		                            }                                                                                  
		                            @if(person.address.danishAddress.streetBuildingIdentifier) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.streetBuildingIdentifier")</dt>
		                                    <dd>@person.address.danishAddress.streetBuildingIdentifier</dd>
		                                </dl>
		                            }                                                                                  
		                            @if(person.address.danishAddress.politiDistrikt) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.politiDistrikt")</dt>
		                                    <dd>@person.address.danishAddress.politiDistrikt</dd>
		                                </dl>
		                            }                                                                                  
		                            @if(person.address.danishAddress.postDistrikt) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.postDistrikt")</dt>
		                                    <dd>@person.address.danishAddress.postDistrikt</dd>
		                                </dl>
		                            }                                                                                  
		                            @if(person.address.danishAddress.skoleDistrikt) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.skoleDistrikt")</dt>
		                                    <dd>@person.address.danishAddress.skoleDistrikt</dd>
		                                </dl>
		                            }                                                                                  
		                            @if(person.address.danishAddress.socialDistrikt) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.socialDistrikt")</dt>
		                                    <dd>@person.address.danishAddress.socialDistrikt</dd>
		                                </dl>
		                            }                                                                                  
		                            @if(person.address.danishAddress.sogneDistrikt) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.sogneDistrikt")</dt>
		                                    <dd>@person.address.danishAddress.sogneDistrikt</dd>
		                                </dl>
		                            }                                                                                  
		                            @if(person.address.danishAddress.valgkredsDistrikt) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.valgkredsDistrikt")</dt>
		                                    <dd>@person.address.danishAddress.valgkredsDistrikt</dd>
		                                </dl>
		                            }                                                                                  
		
		                            @if(person.address.danishAddress.isSpecielVejkode) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.isSpecielVejkode")</dt>
		                                    <dd>@person.address.danishAddress.isSpecielVejkode</dd>
		                                </dl>
		                            }                           
		                            @if(person.address.danishAddress.isUkendtAdresse) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.isUkendtAdresse")</dt>
		                                    <dd>@person.address.danishAddress.isUkendtAdresse</dd>
		                                </dl>
		                            }                                                                                  
		                                                       
		                            @if(person.address.danishAddress.note) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.note")</dt>
		                                    <dd>@person.address.danishAddress.note</dd>
		                                </dl>
		                            }                           
		                            @if(person.address.danishAddress.danishNote) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.danishNote")</dt>
		                                    <dd>@person.address.danishAddress.danishNote</dd>
		                                </dl>
		                            }                                                                                  
		                        </div>
		                        <div class="panel-footer"><p class="text-right">@virkning(person.effect, true)</p></div>
		                    </div>
		                </div>
		
		
		                @if(person.otherAddress != null 
		                    && person.otherAddress.worldAddress != null) {
		                    
		                    @if(person.otherAddress.addressType == EAddressType.World) {
			                <div class="col-md-6">
			                <br/>
                            <div class="panel panel-default">
                            
                                <div class="panel-heading">
                                    <h3 class="panel-title">@Messages("resultat.andenaddresse")</h3>
                                </div>
                            
                                <div class="panel-body">
	                            
				                    @if(person.otherAddress.worldAddress.locationDescriptionText) {
		                                        <dl class="dl-horizontal">
		                                            <dt>@Messages("person.otherAddress.worldAddress.locationDescriptionText")</dt>
		                                            <dd>@person.otherAddress.worldAddress.locationDescriptionText</dd>
		                                        </dl>
		                            }
	                                @if(person.otherAddress.worldAddress.postalAddressFirstLineText) {
	                                            <dl class="dl-horizontal">
	                                                <dt>@Messages("person.otherAddress.worldAddress.postalAddressFirstLineText")</dt>
	                                                <dd>@person.otherAddress.worldAddress.postalAddressFirstLineText</dd>
	                                            </dl>
	                                }
	                                @if(person.otherAddress.worldAddress.postalAddressSecondLineText) {
	                                            <dl class="dl-horizontal">
	                                                <dt>@Messages("person.otherAddress.worldAddress.postalAddressSecondLineText")</dt>
	                                                <dd>@person.otherAddress.worldAddress.postalAddressSecondLineText</dd>
	                                            </dl>
	                                }
	                                @if(person.otherAddress.worldAddress.postalAddressThirdLineText) {
	                                            <dl class="dl-horizontal">
	                                                <dt>@Messages("person.otherAddress.worldAddress.postalAddressThirdLineText")</dt>
	                                                <dd>@person.otherAddress.worldAddress.postalAddressThirdLineText</dd>
	                                            </dl>
	                                }
	                                @if(person.otherAddress.worldAddress.postalAddressFourthLineText) {
	                                            <dl class="dl-horizontal">
	                                                <dt>@Messages("person.otherAddress.worldAddress.postalAddressFourthLineText")</dt>
	                                                <dd>@person.otherAddress.worldAddress.postalAddressFourthLineText</dd>
	                                            </dl>
	                                }
	                                @if(person.otherAddress.worldAddress.postalAddressFifthLineText) {
	                                            <dl class="dl-horizontal">
	                                                <dt>@Messages("person.otherAddress.worldAddress.postalAddressFifthLineText")</dt>
	                                                <dd>@person.otherAddress.worldAddress.postalAddressFifthLineText</dd>
	                                            </dl>
	                                }
	                                @if(person.otherAddress.worldAddress.isUkendtAdresseIndikator) {
	                                            <dl class="dl-horizontal">
	                                                <dt>@Messages("person.otherAddress.worldAddress.isUkendtAdresseIndikator")</dt>
	                                                <dd>@person.otherAddress.worldAddress.isUkendtAdresseIndikator</dd>
	                                            </dl>
	                                }
                                    @if(person.otherAddress.worldAddress.note) {
                                                <dl class="dl-horizontal">
                                                    <dt>@Messages("person.otherAddress.worldAddress.note")</dt>
                                                    <dd>@person.otherAddress.worldAddress.note</dd>
                                                </dl>
                                    }
	                                
                            </div>
		                  </div>
		                  }
		                }
		            </div>      
		        </div>
            </div>

            }
        }                     
        
		
		<div class="tab-pane" id="relationer">
            <div class="row">
                <div class="col-md-12">
                    <br/>
                @if(person.relationsWithPerson != null) {
                    @for(r <- person.relationsWithPerson.allRelations) {
                            @relation(r)
                    }    
                }
                </div>
                
            </div>
        </div>
    </div>
}
