@(form: Form[Search.SearchInput], person: util.cprbroker.IPerson)

@import util.cprbroker.EAddressType;

@main("CPR Look-up") {
      
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Result</h3>
    </div>
        <div class="panel-body">
	        <ul>
	            <li>Uuid: @person.uuid</li>
	            <li>Code: @person.code</li>
	            <li>Message: @person.message</li>
	        </ul>            
            @if(person.code == 200) {
                
                <ul>
                    @if(person.tidspunkt != null) {
                        @if(person.tidspunkt.aktoerRefUrn) {<li>person.tidspunkt.aktoerRefUrn: @person.tidspunkt.aktoerRefUrn </li>}
                        @if(person.tidspunkt.aktoerRefUuid) {<li>person.tidspunkt.aktoerRefUuid: @person.tidspunkt.aktoerRefUuid </li>}
                        @if(person.tidspunkt.kommentar) {<li>person.tidspunkt.kommentar: @person.tidspunkt.kommentar </li>}
                        @if(person.tidspunkt.livscyklusKode) {<li>person.tidspunkt.livscyklusKode: @person.tidspunkt.livscyklusKode </li>}
                        @if(person.tidspunkt.tidspunkt != null) {<li>person.tidspunkt.tidspunkt: @person.tidspunkt.tidspunkt </li>}
                        @if(person.tidspunkt.isTidspunktGraenseIndikator != null) {<li>person.tidspunkt.isTidspunktGraenseIndikator: @person.tidspunkt.isTidspunktGraenseIndikator </li>}
                    }
                </ul>
                <ul>              
		            @if(person.firstname) {<li>Firstname: @person.firstname</li>}
		            @if(person.middelname) {<li>Middelname: @person.middelname</li>}
		            @if(person.lastname) {<li>Lastname: @person.lastname</li>}
		            @if(person.callname) {<li>Callname: @person.callname</li>}
		            @if(person.nameForAdressing) {<li>Fullname: @person.nameForAdressing</li>}
		            @if(person.gender) {<li>Gender: @person.gender</li>}
		            @if(person.birthdate != null) {<li>Birthdate: @person.birthdate</li>}
		            @if(person.birthplace) {<li>Birthplace: @person.birthplace</li>}
		            @if(person.birthRegisteringAuthority) {<li>BirthRegisteringAuthority: @person.birthRegisteringAuthority</li>}
		            
		            @*Add the effect for the person*@
		            @virkning(person.effect)
	            </ul>
	            
	            @if(person.tilstand != null) {
	               <ul>
		               @if(person.tilstand.civilStatusKode) {<li>civilStatusKode: @person.tilstand.civilStatusKode</li>}
		               @if(person.tilstand.civilTilstandsVirkning != null) {@virkning(person.tilstand.civilTilstandsVirkning)}
		               @if(person.tilstand.livStatusKode) {<li>livStatusKode: @person.tilstand.livStatusKode</li>}
		               @if(person.tilstand.livTilstandsVirkning != null) {@virkning(person.tilstand.livTilstandsVirkning)}
	               </ul>    
	            }
	            
	            
	            @if(person.registerInformation != null) {
	               <ul>
	                   @if(person.registerInformation.cprCitizen.socialSecurityNumber){<li>CPR nummer: @person.registerInformation.cprCitizen.socialSecurityNumber</li>}
	                   @if(person.registerInformation.cprCitizen.isSocialSecurityNumberValid != null){<li>Cpr number valid: @person.registerInformation.cprCitizen.isSocialSecurityNumberValid</li>}
	                   @if(person.registerInformation.cprCitizen.personNationalityCode){<li>Country code: @person.registerInformation.cprCitizen.personNationalityCode</li>}
	                   
	                   @if(person.registerInformation.cprCitizen.isMemberOfTheChurch != null){<li>Folkekirken: @person.registerInformation.cprCitizen.isMemberOfTheChurch</li>}
                       @if(person.registerInformation.cprCitizen.isResearcherProtected != null){<li>Forskerbeskyttelse: @person.registerInformation.cprCitizen.isResearcherProtected</li>}
                       @if(person.registerInformation.cprCitizen.isNameAddressProtected != null){<li>Navn/Adresse beskyttelse: @person.registerInformation.cprCitizen.isNameAddressProtected</li>}
                       @if(person.registerInformation.cprCitizen.isPhoneNumberProtected != null){<li>Hemmeligt nummer: @person.registerInformation.cprCitizen.isPhoneNumberProtected</li>}
                       @if(person.registerInformation.virkning != null) { @virkning(person.registerInformation.virkning) }
	                   
	               </ul>
	            }
	            
	            @if(person.relations != null) {
	                <ul>
		                @if(person.relations.aegtefaelle != null) {<li>aegtefaelle: @relations(person.relations.aegtefaelle)</li> }
		                @if(person.relations.erstatingAf != null) {<li>erstatingAf: @relations(person.relations.erstatingAf)</li> }
		                @if(person.relations.fader != null) {<li>fader: @relations(person.relations.fader)</li> }
		                @if(person.relations.foraeldremyndighedsindehaver != null) {<li>foraeldremyndighedsindehaver: @relations(person.relations.foraeldremyndighedsindehaver)</li> }
		                @if(person.relations.moder != null) {<li>moder: @relations(person.relations.moder)</li> }
		                @if(person.relations.registreretPartner != null) {<li>registreretPartner: @relations(person.relations.registreretPartner)</li> }
		                @if(person.relations.retligHandleevneVaergeForPersonen != null) {<li>retligHandleevneVaergeForPersonen: @relations(person.relations.retligHandleevneVaergeForPersonen)</li> }
		                
		                @if(person.relations.boern != null) {<li>boern: @relations(person.relations.boern)</li> }
		                @if(person.relations.bopaelssamling != null) {<li>bopaelssamling: @relations(person.relations.bopaelssamling)</li> }
		                @if(person.relations.erstatingFor != null) {<li>erstatingFor: @relations(person.relations.erstatingFor)</li> }
		                @if(person.relations.foraeldremydighedsboern != null) {<li>foraeldremydighedsboern: @relations(person.relations.foraeldremydighedsboern)</li> }
		                @if(person.relations.retligHandleevneVaergemaalsindehaver != null) {<li>retligHandleevneVaergemaalsindehaver: @relations(person.relations.retligHandleevneVaergemaalsindehaver)</li> }
	                </ul>
	            }
	            
	            @if(person.address != null){
	                
	                @if(person.address.addressType == EAddressType.Danish) {
	                   <ul>
	                       @if(person.address.danishAddress.countryIdentificationCode) {<li>countryIdCode: @person.address.danishAddress.countryIdentificationCode</li>} 
	                       @if(person.address.danishAddress.districtName) {<li>districtName: @person.address.danishAddress.districtName</li>}
	                       @if(person.address.danishAddress.districtSubdivision) {<li>districtSubdivision: @person.address.danishAddress.districtSubdivision</li>}
	                       @if(person.address.danishAddress.floor) {<li>Floor: @person.address.danishAddress.floor</li>}
	                       @if(person.address.danishAddress.mailSubLocaltion) {<li>mail sublocation: @person.address.danishAddress.mailSubLocaltion</li>}
	                       @if(person.address.danishAddress.postCode) {<li>postcode: @person.address.danishAddress.postCode</li>}
	                       @if(person.address.danishAddress.postOfficeBox) {<li>postOfficeBox: @person.address.danishAddress.postOfficeBox</li>}
	                       @if(person.address.danishAddress.streetBuilding) {<li>streetbuilding: @person.address.danishAddress.streetBuilding</li>}
	                       @if(person.address.danishAddress.streetName) {<li>streetName: @person.address.danishAddress.streetName</li>}
	                       @if(person.address.danishAddress.streetNameForAddressing) {<li>streetNameForAddressing:@person.address.danishAddress.streetNameForAddressing</li>}
	                       @if(person.address.danishAddress.suite) {<li>Suite: @person.address.danishAddress.suite</li>}
	                       @if(person.address.danishAddress.note) {<li>Note: @person.address.danishAddress.note</li>}
	                   </ul>
	                }	                    
	            }
	            @* EXTRACT TO TEMPLATE - DRY!!! *@
	            @if(person.contact != null) {
	               <ul>
	                   @if(person.contact.isPhoneAbleToRecieveSms) {<li>isPhoneAbleToRecieveSms: @person.contact.isPhoneAbleToRecieveSms</li>}
	                   @if(person.contact.limitedUsageText) {<li>limitedUsageText: @person.contact.limitedUsageText</li>}
	                   @if(person.contact.email) {<li>email: @person.contact.email</li>}
	                   @if(person.contact.noteText) {<li>noteText: @person.contact.noteText</li>}
	                   @if(person.contact.phone) {<li>phone: @person.contact.phone</li>}
	                   @if(person.contact.otherContactText) {<li>otherContactText: @person.contact.otherContactText</li>}
	                   @if(person.contact.otherContactNoteText) {<li>otherContactNoteText: @person.contact.otherContactNoteText</li>}
	               </u>    
	            }
	            @* EXTRACT TO TEMPLATE - DRY!!! *@
	            @if(person.nextOfKinContact != null) {
                   <ul>
                       @if(person.nextOfKinContact.isPhoneAbleToRecieveSms) {<li>isPhoneAbleToRecieveSms: @person.nextOfKinContact.isPhoneAbleToRecieveSms</li>}
                       @if(person.nextOfKinContact.limitedUsageText) {<li>limitedUsageText: @person.nextOfKinContact.limitedUsageText</li>}
                       @if(person.nextOfKinContact.email) {<li>email: @person.nextOfKinContact.email</li>}
                       @if(person.nextOfKinContact.noteText) {<li>noteText: @person.nextOfKinContact.noteText</li>}
                       @if(person.nextOfKinContact.phone) {<li>phone: @person.nextOfKinContact.phone</li>}
                       @if(person.nextOfKinContact.otherContactText) {<li>otherContactText: @person.nextOfKinContact.otherContactText</li>}
                       @if(person.nextOfKinContact.otherContactNoteText) {<li>otherContactNoteText: @person.nextOfKinContact.otherContactNoteText</li>}
                   </u>    
                }
                
	            
            }
        </div>
    </div>
   }