@(tilstand : util.cprbroker.ITilstand)

@if(tilstand != null) {
    @if(tilstand.civilStatusKode) {
        <dl class="dl-horizontal">
            <dt>@Messages("person.tilstand.civilStatusKode")</dt>
            <dd>@tilstand.civilStatusKode</dd>
            @if(tilstand.civilTilstandsVirkning.fraTidspunkt != null) {
                <dd>@virkning(tilstand.civilTilstandsVirkning, false)</dd>
            }
        </dl>
    }
    @if(tilstand.civilStatusKode) {
        <dl class="dl-horizontal">
            <dt>@Messages("person.tilstand.livStatusKode")</dt>
            <dd>@tilstand.livStatusKode</dd>
            @if(tilstand.livTilstandsVirkning.fraTidspunkt != null) {                                        
                <dd>@virkning(tilstand.livTilstandsVirkning, false)</dd>
            }
        </dl>
    }
}
