@(virkning: util.cprbroker.IVirkning, isVirkning : Boolean)

@if(virkning != null) {
    <span class="glyphicon glyphicon-time"></span>
    @if(virkning.fraTidspunkt != null) {@virkning.fraTidspunkt}
    @if(isVirkning) {
        <span class="glyphicon glyphicon-arrow-right"></span>
        @if(virkning.tilTidspunkt != null) {@virkning.tilTidspunkt}
        @if(virkning.kommentar) {<br/>@virkning.kommentar</}
        @if(virkning.aktoerRefUrn) {<br/>aktoerRefUrn: @virkning.aktoerRefUrn}
        @if(virkning.aktoerRefUuid) {<br/>aktoerRefUuid: @virkning.aktoerRefUuid}
    }
}
